body {
    background-color: red;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
 
  .outer-container {
    background-color:lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 440px;
    padding: 20px;
    box-sizing: border-box;
  }
  
 
  .inner-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    padding: 30px 25px;
    width: 300px;
    text-align: center;
  }
  button{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }