# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Python virtual environment
model-service/venv/
__pycache__/

# Environment files
backend/.env
model-service/.env

# Build folders
frontend/build/
backend/dist/

# ML model files
model-service/recommender.pkl

# Logs and system files
*.log
.DS_Store
Thumbs.db
